<clr-modal [(clrModalOpen)]="opened">
  <h3 class="modal-title">Project Octopus</h3>
  <div class="modal-body">
    <label>Version:</label><span class="version">0.1.0</span>
    <p>Project Octopus provides a drag and drop conductor for user to create topological policies which are used to replicate container images among multiple sites effectively on the top view. </p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="close()">Close</button>
  </div>
</clr-modal>
