<div class="login-wrapper">
    <form class="login" #signInForm="ngForm">
        <label class="title">
            <h3 class="welcome">Welcome to</h3>
            Project Octopus
            <h5 class="hint">Use your user ID to sign in</h5>
        </label>
        <div class="login-group">
            <input class="username" type="text" id="login_username" name="login_username" placeholder="Username" required [(ngModel)]="credentials.userName" autocomplete="username">
            <input class="password" type="password" id="login_password" name="login_password" placeholder="Password" required [(ngModel)]="credentials.password" autocomplete="current-password">
            <div class="error" [class.active]="isError">
                Invalid user name or password
            </div>
            <button [disabled]="!isValid" type="submit" class="btn btn-primary" (click)="signIn()">SIGN IN</button>
        </div>
    </form>
</div>
