<div>
    <div>
        <h3>Registries</h3>
    </div>
    <div>
        <button type="button" class="btn btn-icon btn-primary" (click)="addServer()">
			<clr-icon shape="add"></clr-icon>
			ADD Registry
		</button>
    </div>
    <div id="registry-container">
        <div class="row flex-items-xs-around">
            <div class="col-xl col-lg col-md col-sm col-xs" *ngFor="let reg of registries">
                <app-registry-server [data]="reg" (editServer)="editServer($event)" (deleteServer)="deleteServer($event)" (pingServer)="pingServer($event)"></app-registry-server>
            </div>
        </div>
    </div>
    <div class="view-side-form">
        <router-outlet></router-outlet>
    </div>
</div>