<div>
    <div>
        <clr-alert [clrAlertType]="'alert-danger'" [(clrAlertClosed)]="closed">
            <div class="alert-item">
                <span class="alert-text">
                    {{alertMessage}}
                </span>
            </div>
        </clr-alert>
    </div>
    <div>
        <h3>Replication Policy</h3>
        <div class="side-rule-form">
            <form #replicationRuleForm="ngForm" (ngSubmit)="onSubmit()" [hidden]="submitted" class="compact">
                <section class="form-block">
                    <label>Source -> Target</label>
                    <div class="form-group">
                        <label for="srcNode">Source Registry</label>
                        <input type="text" id="srcNode" disabled name="srcNode" [(ngModel)]="srcNodeName" #srcNode="ngModel" class="input-box">
                    </div>
                    <div class="form-group">
                        <label for="destNode">Target Registry</label>
                        <input type="text" id="destNode" disabled name="destNode" [(ngModel)]="destNodeName" #destNode="ngModel" class="input-box">
                    </div>
                </section>
                <section class="form-block">
                    <label>Settings</label>
                    <div class="form-group">
                        <label for="project" class="required">Source Project</label>
                        <div class="select">
                            <select id="project" name="project" [(ngModel)]="model.policy.project_id" class="input-box">
                                <option *ngFor="let pro of projectList" [value]="pro.id">{{pro.name}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="repoFilter">Repository Filter</label>
                        <input type="text" id="repoFilter" placeholder="Pattern like test*" name="repoFilter" [(ngModel)]="model.name" #repoFilter="ngModel" class="input-box">
                    </div>
                    <div class="form-group">
                        <label for="tagFilter">Tag Filter</label>
                        <input type="text" id="tagFilter" placeholder="Pattern like test*" name="tagFilter" [(ngModel)]="model.name" #tagFilter="ngModel" class="input-box">
                    </div>
                    <div class="form-group">
                        <label for="triggerMode">Trigger Mode</label>
                        <div class="select">
                            <select id="triggerMode" name="triggerMode" [(ngModel)]="triigerKind" class="input-box">
                                <option value="Manual">Manual</option>
                                <option value="Immediate">Immediate</option>
                                <option value="Scheduled">Scheduled</option>
                            </select>
                        </div>
                        <div *ngIf="isScheduledMode">
                            <div class="select">
                                <select id="scheduleParam" name="scheduleParam" [(ngModel)]="scheduleKind" class="input-box">
                                <option value="Daily">Daily</option>
                                <option value="Weekly">Weekly</option>
                            </select>
                            </div>
                            <div class="select">
                                <select *ngIf="isWeeklySchedule" id="scheduleDay" name="scheduleDay" [(ngModel)]="scheduleDay" class="input-box">
                                <option *ngFor="let d of allDays" [value]="d.v">{{d.day}}</option>
                            </select>
                            </div>
                            <label for="scheduleTime">at</label>
                            <input type="time" id="scheduleTime" required name="scheduleTime" [(ngModel)]="scheduleOffTime" class="input-box">
                        </div>
                    </div>
                    <div class="form-group" *ngIf="isImmediateMode">
                        <label>Sync Deletion</label>
                        <div class="toggle-switch">
                            <input type="checkbox" id="del_remote" name="del_remote" #delremote="ngModel" [(ngModel)]="model.policy.replicate_deletion">
                            <label for="del_remote">{{toggleText}}</label>
                        </div>
                    </div>
                    <button class="btn btn-primary" type="submit" [disabled]="replicationRuleForm.form.invalid">Save</button>
                    <button class="btn btn-outline" type="button" (click)="cancel()">Cancel</button>
                </section>
            </form>
        </div>
    </div>
</div>