/* side form */
.side-form {
    position: absolute;
    z-index: 100;
    top: 0;
    right: 0;
    width: 40%;
    height: 100%;
    overflow: auto;
    background: #fff;
    padding: 20px;
    border-left: 1px solid #e0e0e0;
}

.input-box{
    width: 250px;
}