<div class="card">
    <div class="card-header">
        <span class="server-title">{{data.name}}</span>:{{data.id}}
    </div>
    <div class="card-block">
        <div class="progress top" [ngClass]="progressClass">
            <progress value="100" max="100"></progress>
        </div>
        <div class="card-media-block">
            <img [attr.src]="imgSrc" class="card-media-image">
            <div class="card-media-description">
                <span class="card-media-title">
                    Address: {{data.url}}
                </span>
                <span class="card-media-text">
                    Status: {{data.status}}
                </span>
            </div>
        </div>
        <div class="card-text card-body">
            <div>Create Time: {{createTime}}</div>
            <div>Update Time: {{updateTime}}</div>
        </div>
    </div>
    <div class="card-footer">
        <button type="button" class="btn btn-icon btn-link" title="edit server" (click)="edit()">
            <clr-icon shape="pencil"></clr-icon>
        </button>
        <button type="button" class="btn btn-icon btn-link" title="ping server" (click)="ping()">
            <clr-icon shape="bolt"></clr-icon>
        </button>
        <button type="button" class="btn btn-icon btn-danger" title="delete server" (click)="confirmDeletion()">
            <clr-icon shape="trash"></clr-icon>
        </button>
    </div>
</div>